@import "tailwindcss";

@theme {
    --color-school-primary: #e30613;
    --color-school-hover: #b91c1c;
    --color-school-dark: #1d1d1b;
    --color-school-light: #f9fafb;
}

@utility btn-primary {
    @apply px-4 py-2 bg-school-primary text-white rounded hover:bg-school-hover transition-colors cursor-pointer;
}
